* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#username, .form-text {
	width: 200px;
}

.form-text {
	width: 100%;
}

.send {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: none;
}

.chat {
	border: 1px solid #8C8C8C;
	border-radius: 2px;
	padding: 5px;
}

.chatbox {
	width: 100%;
	padding: 6px;
	border: 1px solid #8C8C8C;
	height: auto;
}

.messages {
	border: 1px solid #8C8C8C;
}

li {
	list-style: none;
}

